@import "tailwindcss";

:root {
  --font-geist: "Geist", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  /* font-family: var(--font-geist); */
  font-family: var(--font-poppins);
  /* font-family: var(--font-inter); */
  /* font-family: var(--font-roboto); */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.leaflet-container {
  z-index: 0 !important;
}
